{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <section class="create-course-container">

        <label class="toggle-switch-container">
            <input class="toggle-switch-input" type="checkbox"{% if edit_mode %} disabled{% endif %}
                   onChange="
        document.getElementById('section-cours').style.display = this.checked ? 'block' : 'none';
        document.getElementById('section-echange').style.display = this.checked ? 'none' : 'block';
      "
            >
     <span class="toggle-switch-slider">
      <p>{{ 'Échange'|trans }}</p>
      <p>{{ 'Cours'|trans }}</p>
      <span class="slider-container">
        <span class="slider">
        </span>
      </span>
    </span>
        </label>

        <!-- Gestion de l'affichage initial -->
        <style>
            {% if edit_mode or (clone_mode is defined and clone_mode) %}
                .toggle-switch-container {
                    display: none;
                }
            {% endif %}
            
            {% if (edit_mode or (clone_mode is defined and clone_mode)) and session_type == 'lesson' %}
                #section-echange {
                    display: none;
                }
                #section-cours {
                    display: block;
                }
            {% else %}
                #section-cours {
                    display: none;
                }
                #section-echange {
                    display: block;
                }
            {% endif %}
        </style>

        <script>
            document.addEventListener('DOMContentLoaded', ()=>{
                {% if (edit_mode or (clone_mode is defined and clone_mode)) and session_type is defined %}
                    {% if session_type == 'lesson' %}
                        document.getElementById('section-cours').style.display = 'block';
                        document.getElementById('section-echange').style.display = 'none';
                        const toggleInput = document.querySelector('.toggle-switch-input');
                        toggleInput.checked = true;
                        // Force le repositionnement du slider
                        const slider = document.querySelector('.slider');
                        slider.style.transform = 'translateX(100%)';
                    {% else %}
                        document.getElementById('section-cours').style.display = 'none';
                        document.getElementById('section-echange').style.display = 'block';
                        const toggleInput = document.querySelector('.toggle-switch-input');
                        toggleInput.checked = false;
                        // Force le repositionnement du slider
                        const slider = document.querySelector('.slider');
                        slider.style.transform = 'translateX(0%)';
                    {% endif %}
                {% else %}
                    let checked = document.querySelector('.toggle-switch-input').checked;
                    document.getElementById('section-cours').style.display = 'none';
                    document.getElementById('section-echange').style.display = 'block';
                    document.querySelector('.toggle-switch-input').checked = false;
                {% endif %}
            })
        </script>

        <div id="section-echange">
            <h1 class="page-title">{% if edit_mode %}{{ 'Modification d\'un échange'|trans }}{% elseif (clone_mode is defined and clone_mode) %}{{ 'Clonage d\'un échange'|trans }}{% else %}{{ 'Création d\'un échange'|trans }}{% endif %}</h1>
            <form class="form-creation-session" action="{% if edit_mode and session_type == 'exchange' %}{{ path('app_exchange_update', {'id': session_id}) }}{% else %}{{ path('app_exchange_create') }}{% endif %}" method="POST">

                <div class="horizontal-display">
                    <div class="input-label-display">
                        <label for="skill_taught_id">{{ 'Catégorie enseignée'|trans }}</label>
                        <select required class="input-goofy" id="skill_taught_id" name="skill_taught_id">
                            <option value="" disabled{% if not ((edit_mode or (clone_mode is defined and clone_mode)) and session_data.skill_taught_id is defined) %} selected{% endif %}>{{ 'Sélectionnez une catégorie enseignée'|trans }}</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}"{% if (edit_mode or (clone_mode is defined and clone_mode)) and session_data.skill_taught_id is defined and session_data.skill_taught_id == category.id %} selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-label-display">
                        <label for="description">{{ 'Compétence enseignée'|trans }}</label>
                        <input required class="input-goofy" id="description" name="description" placeholder="{{ 'Sélectionnez une compétence enseignée'|trans }}" value="{% if (edit_mode or (clone_mode is defined and clone_mode)) and session_data.description is defined %}{{ session_data.description }}{% endif %}">
                    </div>
                </div>

                <div class="horizontal-display">
                    <div class="input-label-display">
                        <label for="skill_requested_id">{{ 'Catégorie demandée'|trans }}</label>
                        <select required class="input-goofy" id="skill_requested_id" name="skill_requested_id">
                            <option value="" disabled{% if not ((edit_mode or (clone_mode is defined and clone_mode)) and session_data.skill_requested_id is defined) %} selected{% endif %}>{{ 'Sélectionnez une catégorie demandée'|trans }}</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}"{% if (edit_mode or (clone_mode is defined and clone_mode)) and session_data.skill_requested_id is defined and session_data.skill_requested_id == category.id %} selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-label-display">
                        <label for="competence-echange-2">{{ 'Compétence demandée'|trans }}</label>
                        <input class="input-goofy" id="competence-echange-2" name="competence_requested" placeholder="{{ 'Sélectionnez une compétence demandée'|trans }}" value="{% if (edit_mode or (clone_mode is defined and clone_mode)) and session_data.competence_requested is defined %}{{ session_data.competence_requested }}{% endif %}">
                    </div>
                </div>

                <div class="horizontal-display">
                    <div class="input-label-display">
                        <label for="date_session">{{ 'Date'|trans }}</label>
                        <input required class="input-goofy" type="date" id="date_session" name="date_session" value="{% if edit_mode and session_data.date_session is defined %}{{ session_data.date_session }}{% endif %}">
                    </div>

                    <div class="input-label-display">
                        <label for="start_time">{{ 'Heure de début'|trans }}</label>
                        <input required class="input-goofy" type="time" id="start_time" name="start_time" value="{% if edit_mode and session_data.start_time is defined %}{{ session_data.start_time }}{% endif %}">
                    </div>

                    <div class="input-label-display">
                        <label for="end_time">{{ 'Heure de fin'|trans }}</label>
                        <input required class="input-goofy" type="time" id="end_time" name="end_time" value="{% if edit_mode and session_data.end_time is defined %}{{ session_data.end_time }}{% endif %}">
                    </div>
                </div>

                <input type="hidden" name="exchange_requester_id" value="{{ app.user.id }}">
                <input type="hidden" name="rate_id" value="1">

                <div style="margin-top: 1rem;" class="horizontal-display">
                    <a href="{{ path('home') }}" class="form-button dark-grey-bg">{{ 'Annuler'|trans }}</a>
                    <button class="form-button green-bg" type="submit">{% if edit_mode %}{{ 'Modifier l\'échange'|trans }}{% else %}{{ 'Créer l\'échange'|trans }}{% endif %}</button>
                </div>

            </form>
        </div>

        <div id="section-cours">

            <h1 class="page-title">{% if edit_mode %}{{ 'Modification d\'un cours'|trans }}{% elseif (clone_mode is defined and clone_mode) %}{{ 'Clonage d\'un cours'|trans }}{% else %}{{ 'Création d\'un cours'|trans }}{% endif %}</h1>

            <form class="form-creation-session" action="{% if edit_mode and session_type == 'lesson' %}{{ path('app_course_update', {'id': session_id}) }}{% else %}{{ path('app_course_create') }}{% endif %}" method="POST">

                <div class="horizontal-display">
                    <div class="input-label-display">
                        <label for="skill_taught_id_cours">{{ 'Catégorie'|trans }}</label>
                        <select required class="input-goofy" id="skill_taught_id_cours" name="skill_taught_id">
                            <option value="" disabled{% if not ((edit_mode or (clone_mode is defined and clone_mode)) and session_data.skill_taught_id is defined) %} selected{% endif %}>{{ 'Sélectionnez une catégorie'|trans }}</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}"{% if (edit_mode or (clone_mode is defined and clone_mode)) and session_data.skill_taught_id is defined and session_data.skill_taught_id == category.id %} selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-label-display">
                        <label for="description_cours">{{ 'Compétence'|trans }}</label>
                        <input required class="input-goofy" id="description_cours" name="description" placeholder="{{ 'Sélectionnez une compétence'|trans }}" value="{% if (edit_mode or (clone_mode is defined and clone_mode)) and session_data.description is defined %}{{ session_data.description }}{% endif %}">
                    </div>
                </div>

                <div class="horizontal-display">
                    <div class="input-label-display">
                        <label for="date_session_cours">{{ 'Date'|trans }}</label>
                        <input required class="input-goofy" type="date" id="date_session_cours" name="date_session" value="{% if edit_mode and session_data.date_session is defined %}{{ session_data.date_session }}{% endif %}">
                    </div>

                    <div class="input-label-display">
                        <label for="start_time_cours">{{ 'Heure de début'|trans }}</label>
                        <input required class="input-goofy" type="time" id="start_time_cours" name="start_time" onchange="validateTimes()" value="{% if edit_mode and session_data.start_time is defined %}{{ session_data.start_time }}{% endif %}">
                    </div>

                    <div class="input-label-display">
                        <label for="end_time_cours">{{ 'Heure de fin'|trans }}</label>
                        <input required class="input-goofy" type="time" id="end_time_cours" name="end_time" onchange="validateTimes()" value="{% if edit_mode and session_data.end_time is defined %}{{ session_data.end_time }}{% endif %}">
                    </div>
                </div>

                <script>
                  function validateTimes() {
                    const heureDebut = document.getElementById('start_time_cours').value;
                    const heureFin = document.getElementById('end_time_cours').value;
                    if (heureDebut && heureFin) {
                      if (heureDebut >= heureFin) {
                        alert("{{ "L'heure de début ne peut pas être après l'heure de fin."|trans }}");
                        document.getElementById('end_time_cours').value = '';
                      }
                    }
                  }
                </script>

                <div class="horizontal-display">
                    <div class="input-label-display">
                        <label for="address">{{ 'Adresse'|trans }}</label>
                        <input required class="input-goofy" type="text" id="address" name="address" placeholder="{{ 'Entrez l\'adresse'|trans }}" value="{% if (edit_mode or (clone_mode is defined and clone_mode)) and session_data.address is defined %}{{ session_data.address }}{% endif %}">
                    </div>
                </div>

                <div class="horizontal-display">
                    <div class="input-label-display">
                        <label for="city">{{ 'Ville'|trans }}</label>
                        <input required class="input-goofy" type="text" id="city" name="city" placeholder="{{ 'Entrez la ville'|trans }}" value="{% if (edit_mode or (clone_mode is defined and clone_mode)) and session_data.city is defined %}{{ session_data.city }}{% endif %}">
                    </div>

                    <div class="input-label-display">
                        <label for="zip_code">{{ 'Code postal'|trans }}</label>
                        <input required class="input-goofy" type="text" id="zip_code" name="zip_code" placeholder="{{ 'Entrez le code postal'|trans }}" value="{% if (edit_mode or (clone_mode is defined and clone_mode)) and session_data.zip_code is defined %}{{ session_data.zip_code }}{% endif %}">
                    </div>
                </div>

                <div class="horizontal-display">
                    <div class="input-label-display">
                        <label for="max_attendees">{{ 'Nombre maximum de participants'|trans }}</label>
                        <input required class="input-goofy" type="number" id="max_attendees" name="max_attendees" placeholder="{{ 'Sélectionnez le nombre maximum de participants'|trans }}" value="{% if (edit_mode or (clone_mode is defined and clone_mode)) and session_data.max_attendees is defined %}{{ session_data.max_attendees }}{% endif %}">
                    </div>
                </div>

                <input type="hidden" name="lesson_host_id" value="{{ app.user.id }}">
                <input type="hidden" name="rate_id" value="1">

                <div style="margin-top: 1rem;" class="horizontal-display">
                    <a href="{{ path('home') }}" class="form-button dark-grey-bg">{{ 'Annuler'|trans }}</a>
                    <button class="form-button green-bg" type="submit">{% if edit_mode %}{{ 'Modifier le cours'|trans }}{% else %}{{ 'Créer le cours'|trans }}{% endif %}</button>
                </div>

            </form>
        </div>

    </section>

{% endblock %}