<section {{ attributes }} class="create-course-container">

  <div class="horizontal-display">

    <label class="toggle-switch-container">
      <input data-model="lessonChecked"
             data-action="live#action"
             data-live-action-param="toggleLessonChecked"
             class="toggle-switch-input" type="checkbox">
      <span class="toggle-switch-slider">
        <p>{{ 'Échange'|trans }}</p>
        <p>{{ 'Cours'|trans }}</p>
        <span class="slider-container">
          <span class="slider"></span>
        </span>
      </span>
    </label>



    {# Search form: on change, the LiveAction "search" is called #}
    <form method="get" 
      data-action="live#action" 
      data-live-action-param="search" 
      onsubmit="event.preventDefault();">

        <input type="text" 
       class="input-goofy" 
       style="width:20rem;" 
       id="recherche" 
               data-model="debounce(250)|skillGiven" 
               name="skillTaught" 
               placeholder="{{ 'Rechercher la compétence enseignée'|trans }}" 
               data-action="input->live#action" 
               data-live-action-param="search">
    </form>



    <div style="display:flex;gap:1rem;">
      {% if not app.user %}
        <a href="/login">
          <button class="form-button" style="background-color:white; color:black;">{{ 'Connexion'|trans }}</button>
        </a>
        <a href="/register">
          <button class="form-button" style="background-color:black;" type="submit">{{ "S'inscrire"|trans }}</button>
        </a>
      {% endif %}

    </div>

  </div>


<div id="search-filters" class="filter-box" style="margin-top:1rem;">

    <div class="flex-vertical">
        <label for="categoryGiven">{{ 'Catégorie enseignée'|trans }}:</label>
        <select id="categoryGiven" 
                data-model="categoryGiven" 
                name="categoryGiven" 
                data-action="change->live#action" 
                data-live-action-param="search">
            <option value="">{{ 'Any'|trans }}</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

    </div>


    {% if not lessonChecked %}

    <div class="flex-vertical">
        <label for="categoryRequested">{{ 'Catégorie demandée'|trans }}:</label>
        <select id="categoryRequested" 
                data-model="categoryRequested" 
                name="categoryRequested" 
                data-action="change->live#action" 
                data-live-action-param="search">
            <option value="">{{ 'Any'|trans }}</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <label for="skillRequested">{{ 'Compétence demandée'|trans }}:</label>
        <input type="text" 
               id="skillRequested" 
               data-model="debounce(250)|skillRequested" 
               name="skillRequested" 
               placeholder="{{ 'Rechercher la compétence demandée'|trans }}" 
               data-action="input->live#action" 
               data-live-action-param="search">
    </div>
    {% endif %}

    <div class="flex-vertical">
    <label for="dateStart">{{ 'Date'|trans }}:</label>
    <input type="date" 
           id="dateStart" 
           data-model="dateStart" 
           name="dateStart" 
           data-action="change->live#action" 
           data-live-action-param="search">
    </div>

    <div style="visibility: hidden;" class="flex-vertical">
    <label for="timeStart">{{ 'Heure de début'|trans }}:</label>
    <input type="time" 
           id="timeStart" 
           data-model="timeStart" 
           name="timeStart" 
           data-action="change->live#action" 
           data-live-action-param="search">

    <label for="timeEnd">{{ 'Heure de fin'|trans }}:</label>
    <input type="time" 
           id="timeEnd" 
           data-model="timeEnd" 
           name="timeEnd" 
           data-action="change->live#action" 
           data-live-action-param="search">

    </div>
</div>


  {% if lessonChecked %}
    {# Display lessons #}
    <div id="section-cours-display">
      {% if lessons is empty %}
        <p>{{ "Aucun résultats disponibles"|trans }}</p>
      {% else %}
        {% for session in lessons %}
          {% include 'components/lessonCard.html.twig' with {
            'avatar_path': session.lesson.host.avatarPath|default(''),
            'userName': session.lesson.host.firstname ~ ' ' ~ session.lesson.host.lastname,
            'userId': session.lesson.host.id,
            'categoryLearned': session.skillTaught.category.name|default(''),
            'skillLearned': session.skillTaught.name|default(''),
            'adresse': session.lesson.location is not null ? (session.lesson.location.adress ~ ', ' ~ session.lesson.location.zipCode ~ ' ' ~ session.lesson.location.city) : '',
            'date': session.date ? (session.date|date('Y-m-d')) ~ ', ' ~ session.startTime|date('H:i') : '',
            'session_id': session.id,
            'startTime': session.startTime,
            'endTime': session.endTime,
            'dateDebut': session.date|date('Y-m-d')
          } %}
        {% endfor %}
      {% endif %}
    </div>
  {% else %}
    {# Display exchanges #}
    <div id="section-echange-display">
      {% if exchanges is empty %}
        <p>{{ "Aucun résultats disponibles"|trans }}</p>
      {% else %}
        {% for session in exchanges %}
          {% include 'components/exchangeCard.html.twig' with {
            'avatar_path': session.exchange.requester.avatarPath|default(''),
            'userName': session.exchange.requester.firstname ~ ' ' ~ session.exchange.requester.lastname,
            'userId': session.exchange.requester.id,
            'categoryLearned': session.skillTaught.category.name|default(''),
            'skillLearned': session.skillTaught.name|default(''),
            'categoryWanted': session.exchange.skillRequested.category.name|default(''),
            'skillWanted': session.exchange.skillRequested.name|default(''),
            'session_id': session.id,
            'startTime': session.startTime,
            'endTime': session.endTime,
            'dateDebut': session.date|date('Y-m-d')
          } %}
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}

</section>
